jupyterlite-core>=0.5,<0.6
jupyterlab>=4.3.0,<4.4
notebook>=7.3.0,<7.4

jupyterlite-pyodide-kernel==0.5.2
jupyterlab-deck

ipywidgets>=8.1.3,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet
